<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Подтвердите смену адреса электронной почты</title>
  </head>
  <body>
    <div style='background: #303030; color: white; padding: 16px;'>
      <h1 style='margin: 0; padding: 0; color: white'>Подтвердите смену адреса электронной почты</h1>
        <div style="margin: 12px 0">
            <a href={{link}} style="padding: 8px; background: #454545; font-size: 24px; color: #0ea5e9; border-radius: 0.5rem; text-decoration: none">
              <strong>Подтвердить</strong>
            </a>
        </div>
    </div>
  </body>
</html>